{% extends 'aeroflot/en/base.html' %}
{% load main_tags %}
{% block content %}
    {% load static %}
    <div class="crew-body"
         style="background-color: #e5e5e5;background: url(https://www.toptal.com/designers/subtlepatterns/patterns/white_carbon.png);">
        <div class="container"
             style="min-height: 60vh;max-width:1200px;background-color:white; padding-bottom: 10px;box-shadow: 0 0 10px rgb(0 0 0 / 50%);padding-left:0;padding-right:0;">
            <table class="table table-striped" style="padding:0;">
                <thead>
                <th>Pilot ID</th>
                <th>Flag</th>
                <th>User Name</th>
                <th>Rank</th>
                <th>Flights</th>
                <th>Hours</th>
                <th>Vatsim</th>
                <th>Ivao</th>
                <th>Joined</th>
                <th>Now</th>
                <th>Rate</th>
                </thead>
                <tbody>
                {% for i in crew %}
                    {% get_profile i.profile.id as profile %}
                    <tr>
                        <td>
                            AFL{{ i.callsign }}
                        </td>
                        <td>
                            <img style="width: 18px;"
                                 src="{% static 'countries/' %}{{ profile.location|lower }}.png"
                                 alt="">
                        </td>
                        <td>
                            <a style="text-decoration: none;color: #4f5150 !important;"
                               href="{% url 'aeroflot:pilot' callsign=i.callsign %}">{{ i.profile.first_name }} {{ i.profile.last_name }}</a>
                        </td>
                        <td>
                            {% with i.hours|add:i.additional_hours as hours %}
                                {% with flights=i.flights|add:i.additional_flights %}
                                    {% if hours|convert_hours < 50 %} <img
                                            src="{% static 'images/ranks/newhire.png' %}" alt="">
                                    {% elif hours|convert_hours < 100 %} <img
                                            src="{% static 'images/ranks/newhire2.png' %}" alt="">
                                    {% elif hours|convert_hours < 150 %} <img
                                            src="{% static 'images/ranks/newhire3.png' %}" alt="">
                                    {% elif hours|convert_hours < 300 %} <img
                                            src="{% static 'images/ranks/newhire4.png' %}" alt="">
                                    {% elif hours|convert_hours < 500 %} <img
                                            src="{% static 'images/ranks/newhire5.png' %}" alt="">
                                    {% elif hours|convert_hours < 750 %} <img
                                            src="{% static 'images/ranks/newhire6.png' %}" alt="">
                                    {% elif hours|convert_hours < 1000 %} <img
                                            src="{% static 'images/ranks/newhire7.png' %}" alt="">
                                    {% elif hours|convert_hours < 1300 %} <img
                                            src="{% static 'images/ranks/newhire8.png' %}" alt="">
                                    {% elif hours|convert_hours < 1700 %} <img
                                            src="{% static 'images/ranks/newhire9.png' %}"
                                            alt="">
                                    {% else %}
                                        <img src="{% static 'images/ranks/newhire10.png' %}"
                                             alt="">
                                    {% endif %}
                                    </td>
                                    <td>
                                        {{ flights }}
                                    </td>
                                    <td>
                                        {{  hours|convert_hours_minutes }}
                                    </td>
                                    <td>
                                        {{ profile.vatsimid }}
                                    </td>
                                    <td>
                                        {% if profile.ivaoid %}
                                            {{ profile.ivaoid }}
                                        {% else %}
                                            -
                                        {% endif %}
                                    </td>
                                    <td>
                                        {{ i.profile.date_joined|date:'d.m.Y' }}
                                    </td>
                                    <td>
                                        {{ i.now.icao_code }}
                                    </td>
                                    <td>
                                        {{ i.rating }}
                                    </td>
                                {% endwith %}
                            {% endwith %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}