{% extends 'aeroflot/base.html' %}
{% load main_tags %}
{% load static %}
{% block content %}
    <div class="profile-body" style="background-color:#e7e9e8;">
        <div class="container" style="padding-bottom: 100px;min-height: 60vh;border-radius: .25rem 0 0 .25rem;">
            <nav>
                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                    <button class="nav-link {% if not book %} active {% endif %}" id="nav-profile-tab"
                            data-bs-toggle="tab"
                            data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                            aria-selected="true">Пилот центр
                    </button>
                    <button class="nav-link {% if book %} active {% endif %}" id="nav-book-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-book" type="button" role="tab" aria-controls="nav-book"
                            aria-selected="false">Запланированный полет
                    </button>
                    <button class="nav-link" id="nav-flights-tab" data-bs-toggle="tab" data-bs-target="#nav-flights"
                            type="button" role="tab" aria-controls="nav-flights-tab" aria-selected="false">Выполненные
                        полеты
                    </button>
                    <button class="nav-link" id="nav-change-password-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-change-password" type="button" role="tab"
                            aria-controls="nav-change-password"
                            aria-selected="false">Изменить пароль
                    </button>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show {% if not book %} active show{% endif %}" id="nav-profile"
                     role="tabpanel"
                     aria-labelledby="nav-home-tab">
                    <div class="row gutters-sm">
                        <div class="col">
                            <div class="card-body">
                                <div class="row profile-card">
                                    <div class="col">
                                        <table class="table table-borderless">
                                            <tbody>
                                            <tr>
                                                <td>
                                                    Полное Имя
                                                </td>
                                                <td>
                                                    {{ profile.user.first_name }} {{ profile.user.last_name }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Email
                                                </td>
                                                <td>
                                                    {{ profile.user.email }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Локация
                                                </td>
                                                <td>
                                                    {{ profile.now }}
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Позывной
                                                </td>
                                                <td>
                                                    {{ pilot.callsign }}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="col">
                                        <table class="table table-borderless">
                                            <tbody>
                                            {% with hours=pilot.hours|add:pilot.additional_hours %}
                                                {% with flights=pilot.flights|add:pilot.additional_flights %}
                                                    <tr>
                                                        <td>
                                                            Налет
                                                        </td>
                                                        <td style="text-align: center!important;">
                                                            {{ hours|convert_hours_minutes }} часов
                                                        </td>
                                                        <td style="text-align: center!important;">
                                                            {{ flights }} полетов
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Рейтинг
                                                        </td>
                                                        <td style="text-align: center!important;">
                                                            {% if hours|convert_hours < 50 %}
                                                                <img src="http://afl-va.ru/lib/images/ranks/newhire.png"
                                                                     alt="">
                                                            {% elif hours|convert_hours < 100 %}
                                                                <img src="http://afl-va.ru/lib/images/ranks/newhire2.png"
                                                                     alt="">
                                                            {% elif hours|convert_hours < 150 %}
                                                                <img src="http://afl-va.ru/lib/images/ranks/newhire3.png"
                                                                     alt="">
                                                            {% elif hours|convert_hours < 300 %}
                                                                <img src="http://afl-va.ru/lib/images/ranks/newhire4.png"
                                                                     alt="">
                                                            {% elif hours|convert_hours < 500 %}
                                                                <img src="http://afl-va.ru/lib/images/ranks/newhire5.png"
                                                                     alt="">
                                                            {% elif hours|convert_hours < 750 %}
                                                                <img src="http://afl-va.ru/lib/images/ranks/newhire6.png"
                                                                     alt="">
                                                            {% elif hours|convert_hours < 1000 %}
                                                                <img src="http://afl-va.ru/lib/images/ranks/newhire7.png"
                                                                     alt="">
                                                            {% elif hours|convert_hours < 1300 %}
                                                                <img src="http://afl-va.ru/lib/images/ranks/newhire8.png"
                                                                     alt="">
                                                            {% elif hours|convert_hours < 1700 %}
                                                                <img src="http://afl-va.ru/lib/images/ranks/newhire9.png"
                                                                     alt="">
                                                            {% else %}
                                                                <img src="http://afl-va.ru/lib/images/ranks/newhire10.png"
                                                                     alt="">
                                                            {% endif %}
                                                        </td>
                                                        <td style="text-align: center!important;">
                                                            {{ pilot.rating }} баллов
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Vatsim ID
                                                        </td>
                                                        <td style="text-align: center!important;">
                                                            {{ profile.vatsimid }}
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            Ivao ID
                                                        </td>
                                                        <td style="text-align: center!important;">
                                                            {{ profile.ivaoid }}
                                                        </td>
                                                    </tr>
                                                {% endwith %}
                                            {% endwith %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="stats col">
                            <canvas id="flownChart"></canvas>
                        </div>
                        <div class="col">
                            <canvas id="favoriteAirportChart"></canvas>
                        </div>
                        <div class="col">
                            <canvas id="flightsStats"></canvas>
                        </div>
                    </div>
                    <script>
                        new Chart(document.getElementById('flownChart').getContext('2d'), {
                            type: 'bar',
                            data: {
                                labels: [{% for i in flown_countries %}
                                    {% if i.0.1 != "UUEE"%}'{{ i.0.1 }}',{% endif %} {% endfor %}],
                                datasets: [{
                                    data: [{% for i in flown_countries %}{% if i.0.1 != "UUEE"%} {{ i.1 }}, {% endif %} {% endfor %}],
                                    backgroundColor: [
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                    ],
                                    borderColor: [
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(255, 99, 132, 1)',
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                indexAxis: 'y',
                                elements: {
                                    bar: {
                                        borderWidth: 2,
                                    }
                                },
                                responsive: true,
                                plugins: {
                                    legend: {
                                        display: false
                                    },
                                    title: {
                                        display: true,
                                        text: 'Favorite Airports'
                                    }
                                }
                            },
                        });
                        new Chart(document.getElementById('favoriteAirportChart').getContext('2d'), {
                            type: 'bar',
                            data: {
                                labels: [{% for i in flown_aircraft %} '{{ i.0 }}',{% endfor %}],
                                datasets: [{
                                    data: [{% for i in flown_aircraft %}{{ i.1 }}, {% endfor %}],
                                    backgroundColor: [
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                    ],
                                    borderColor: [
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(255, 99, 132, 1)',
                                    ],
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                indexAxis: 'y',
                                elements: {
                                    bar: {
                                        borderWidth: 2,
                                    }
                                },
                                responsive: true,
                                plugins: {
                                    legend: {
                                        display: false
                                    },
                                    title: {
                                        display: true,
                                        text: 'Favorite Aircrafts'
                                    }
                                }
                            },
                        });
                        new Chart(document.getElementById('flightsStats').getContext('2d'), {
                            type: 'line',
                            data: {
                                labels: [
                                    {% for i in fa %}'{{ month_names|get_index:i.0|get_index_tuple:0 }}', {% endfor %}
                                ],
                                datasets: [{
                                    data: [{% for i in fa %}{{ i.1 }}, {% endfor %}],
                                    backgroundColor: [
                                        'rgba(54, 162, 235, 0.2)',
                                        'rgba(255, 206, 86, 0.2)',
                                        'rgba(75, 192, 192, 0.2)',
                                        'rgba(153, 102, 255, 0.2)',
                                        'rgba(255, 159, 64, 0.2)',
                                        'rgba(255, 99, 132, 0.2)',
                                    ],
                                    borderColor: [
                                        'rgba(54, 162, 235, 1)',
                                        'rgba(255, 206, 86, 1)',
                                        'rgba(75, 192, 192, 1)',
                                        'rgba(153, 102, 255, 1)',
                                        'rgba(255, 159, 64, 1)',
                                        'rgba(255, 99, 132, 1)',
                                    ],
                                    borderWidth: 1,
                                    fill: false,
                                    cubicInterpolationMode: 'monotone',
                                    tension: 0.4
                                }]
                            },
                            options: {
                                responsive: true,
                                plugins: {
                                    legend: {
                                        display: false
                                    },
                                    title: {
                                        display: true,
                                        text: 'Month Activity'
                                    }
                                },
                                interaction: {
                                    intersect: false,
                                },
                                scales: {
                                    x: {
                                        display: true,
                                        title: {
                                            display: true,
                                            text:'Month'
                                        }
                                    },
                                    y: {
                                        display: true,
                                        title: {
                                            display: true,
                                            text: 'Flights'
                                        },
                                        beginAtZero: true
                                    }
                                }
                            },
                        });
                    </script>
                </div>
                <div class="tab-pane fade {% if book %} active show{% endif %}" id="nav-book" role="tabpanel"
                     aria-labelledby="nav-book">
                    {% if book %}
                        <table class="table brief">
                            <tbody>
                            <tr>
                                <h2>{{ book.aircraft.registration }}</h2>
                                <td align="right">№ рейса:</td>
                                <td class="border text-center"><b>{{ book.callsign }}</b></td>
                                <td align="right">Запасной:</td>
                                <td class="border al">
                                    <img title=""
                                         src="{% static 'countries/' %}{{ book.alternate_airport.country|lower }}.png"
                                         alt=""/>
                                    &nbsp;&nbsp;{{ book.alternate_airport.name }}&nbsp;&nbsp;<b>{{ book.alternate_airport.icao_code }}</b>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">Порт вылета:</td>
                                <td class="border al">
                                    <img title=""
                                         src="{% static 'countries/' %}{{ book.dep_airport.country|lower }}.png"
                                         alt=""/>
                                    &nbsp;&nbsp;{{ book.dep_airport.name }}&nbsp;&nbsp;<b>{{ book.dep_airport.icao_code }}</b>
                                </td>
                                </td>
                                <td align="right">Порт назначения:</td>
                                <td class="border al">
                                    <img title=""
                                         src="{% static 'countries/' %}{{ book.arr_airport.country|lower }}.png"
                                         alt=""/>
                                    &nbsp;&nbsp;{{ book.arr_airport.name }}&nbsp;&nbsp;<b>{{ book.arr_airport.icao_code }}</b>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">Время вылета:</td>
                                <td class="border"><b>{{ book.deptime|date:'H:i' }}z</b></td>
                                <td align="right">Время в пути:</td>
                                <td class="border"><b>{{ book.flight_time|date:'H:i' }}</b></td>
                            </tr>
                            <tr>
                                <td align="right">Эшелон полета</td>
                                <td class="border"><b>FL{{ book.flight_level }}</b></td>
                                <td align="right">Расстояние:</td>
                                <td class="border"><b>{{ book.distance }} NM</b></td>
                            </tr>
                            <tr>
                                <td align="right">Тип воздушного судна</td>
                                <td class="border"><b>{{ book.aircraft.aircraft_type.aircraft_name }}</b></td>
                                <td align="right">Бортовой номер</td>
                                <td class="border"><b>{{ book.aircraft.aircraft_registration }}</b></td>
                            </tr>
                            <tr>
                                <td align="right">Коммерческая загрузка</td>
                                <td class="border"><b>{{ book.cargo }} кг</b></td>
                                <td align="right">Пассажиров на борту</td>
                                <td class="border"><b>{{ book.pax }} чел.</b></td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align: center!important;">Получение METAR:</td>
                            </tr>
                            <tr>
                                <td align="right">Аэропорт отправления</td>
                                <td class="border">
                                    <b>
                                        {% get_metar book.dep_airport.icao_code %}
                                    </b>
                                </td>
                                <td align="right">Аэропорт прибытия</td>
                                <td class="border">
                                    <b>
                                        {% get_metar book.arr_airport.icao_code %}
                                    </b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align: center!important;">Маршрут:</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="route border" style="text-align: center!important;">
                                    <b>{{ book.route }}</b>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="4" style="text-align: center!important;">Ремарки:</td>
                            </tr>
                            <tr>
                                <td colspan="4" class="route border" style="text-align: center!important;">
                                    <b>
                                        RMK/CALLSIGN {{ book.aircraft.company.callsign }} RTE/{{ book.schedule.flightnum }}
                                        REG/{{ book.aircraft.aircraft_registration }} OPR/ WWW.AFL-VA.RU
                                        C/{{ request.user.first_name|upper }} {{ request.user.last_name|upper }}
                                    </b>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div style="text-align: center;">
                            <a href="{% url 'aeroflot:delete_booking' %}" style="color: #ff4a4a;font-size:20px;">Удалить
                                бронь</a>
                            <a target="_blank"
                               href="https://my.vatsim.net/pilots/flightplan?aircraft={{ book.aircraft.aircraft_type.aircraft_icao.aircraft_icao }}&alternate={{ book.alternate_airport.icao_code }}&altitude={{ book.flight_level }}&arrival={{ book.arr_airport.icao_code }}&callsign={{ book.callsign }}&departure={{ book.dep_airport.icao_code }}&enroute_time={{ book.flight_time|date:'Hi' }}&equipment=Q&flight_rules=I&fuel_time={{ book.flight_time|date:'Hi' }}&off_block_time={{ book.deptime|date:'Hi' }}&wake_category=M&raw_remarks=RMK/CALLSIGN {{ book.aircraft.company.callsign }} RTE/{{ book.schedule.flightnum }} REG/{{ book.aircraft.aircraft_registration }} OPR/ WWW.AFL-VA.RU C/{{ request.user.first_name|upper }} {{ request.user.last_name|upper }}&route={{ book.route }}&speed=434&voice_rules=V&wake_category=M"
                               style="color: #0031d3;font-size:20px; margin-left:15px">
                                Отправить FP</a>
                        </div>
                        <style>
                            .brief td {
                                border: none;
                                max-width: 300px;
                            }

                            /* .brief td[align=right] {
                                text-align: right!important;
                            } */
                        </style>
                    {% else %}
                        <h2>У вас нет запланированных полетов. Запланировать можно <a href="{% url 'aeroflot:fleet' %}">здесь</a>
                        </h2>
                    {% endif %}
                </div>
                <div class="tab-pane fade" id="nav-flights" role="tabpanel" aria-labelledby="nav-flights">
                    <table class="table">
                        <thead>
                        <tr>
                            <th></th>
                            <th scope="col"># Рейса</th>
                            <th scope="col" colspan="3">Вылет</th>
                            <th scope="col" colspan="3">Прилет</th>
                            <th scope="col">Борт</th>
                            <!-- <th scope="col">Время в пути</th> -->
                            <th scope="col">Дата рейса</th>
                            <!-- <th scope="col">Статус</th> -->
                            <th scope="col">Рейтинг</th>
                        </tr>
                        </thead>
                        <tbody class="flights-table">
                        {% for i in flights %}
                            <tr>
                                <td><img src="{{ i.company.logo.url }}" alt="" style="width: 22px;"></td>
                                <td style="text-align: center!important;">{{ i.callsign }}</td>
                                <td style="margin: auto;">
                                    <img style="width: 18px;"
                                         src="{% static 'countries/' %}{{ i.departure_airport.country|lower }}.png"
                                         alt="">
                                </td>
                                <td>{{ i.departure_airport.icao_code }}</td>
                                <td>
                                    {{ i.departure_airport.name }}
                                </td>
                                <td style="margin: auto;">
                                    <img style="width: 18px;"
                                         src="{% static 'countries/' %}{{ i.arrival_airport.country|lower }}.png"
                                         alt="">
                                </td>
                                <td>{{ i.arrival_airport.icao_code }}</td>
                                <td>{{ i.arrival_airport.name }}</td>
                                <td style="text-align: center!important;">{{ i.aircraft_registration }}</td>
                                <td style="text-align: center!important;">{{ i.dep_time|date:'d.m.Y' }}</td>
                                {% if i.points < 100 %}
                                    <td onclick="flight_view({{ i.id }})"
                                        style="text-align: center!important; color: #ff4a4a!important; cursor:pointer">
                                        {{ i.points }}</td>
                                {% else %}
                                    <td onclick="flight_view({{ i.id }})"
                                        style="text-align: center!important;color:rgb(0, 160, 0)!important; cursor:pointer">
                                        {{ i.points }}</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-change-password" role="tabpanel"
                     aria-labelledby="nav-change-password">
                    <form class="form-resetpass" action="{% url 'aeroflot:reset_password' %}" method="POST"
                          style="text-align: center;">
                        {% csrf_token %}
                        <h2>New Password</h2>
                        <div class="alert alert-danger" role="alert" style="display: none;">
                            Some error occured
                        </div>
                        <div class="row">
                            <div class="col form-group has-validation" style="margin: 0;">
                                <label for="password">Password</label>
                                <input style="text-align: center;" aria-describedby="validationFirstName" id='password'
                                       type="password" class="form-control" name="password" required="required">
                            </div>
                            <div class="col col-auto" style="width: 10px;"></div>
                            <div class="col form-group" style="margin: 0;">
                                <label for="confirm_password">Confirm Password</label>
                                <div>
                                    <input style="text-align: center;" id='confirm_password' type="password"
                                           class="form-control" name="confirm_password" required="required">
                                    <div class="invalid-feedback">
                                        Passwords are not matched.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Change Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Детали Полета</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>
    <style>
        .modal-body td {
            border: 0;
        }

        .nav-link {
            padding: 0.5em 2em;
            text-transform: uppercase;
            font-size: 18px;
        }


        #nav-flights span,
        td {
            color: #4f5150 !important;
            font-size: 14px;
            text-align: left !important;
        }

        #nav-flights th {
            padding: 5px;
        }

        .profile-card td {
            border: none;
            font-size: 18px;
        }
    </style>
    {% csrf_token %}
    <script>
        jQuery(document).ready(function (param) {
            jQuery('button').on('click', function () {
                hideModal();
            })
        })

        function flight_view(flight_id) {
            $.ajax({
                type: "POST",
                url: {% url 'aeroflot:flight_view'%},
                data: {
                    csrfmiddlewaretoken: jQuery('input[name=csrfmiddlewaretoken]').val(),
                    flight_id: flight_id
                },
                cache: false,
                success: function (data) {
                    jQuery('.modal-body').html(data);
                    jQuery('.modal').modal('show')
                }
            });
        }

        function hideModal() {
            $('.modal').modal('hide');
        };
        jQuery('.form-resetpass').submit(() => {
            var data = {}
            var form = jQuery('.form-resetpass')
            form.serializeArray().map(function (x) {
                data[x.name] = x.value;
            });
            if (data['password'] != data['confirm_password']) {
                jQuery('input[name=confirm_password]').attr('class', 'is-invalid form-control')
                return false;
            }
            jQuery.ajax({
                type: 'POST',
                url: form.attr('action'),
                cache: false,
                data: form.serialize(),
                success: function (data) {
                    if (data['eroor']) {
                        jQuery('.form-resetpass .alert-danger').fadeIn()
                    } else {
                        window.location.href = '{% url "aeroflot:login"%}'
                    }
                }
            })
            return false;
        })
    </script>
{% endblock %}